:root {
  font-family: var(--font-plus-jakarta), sans-serif;
}


@import "tailwindcss";

/* Minimal global reset / utilities for the site */
html,
body {
  height: 100%;
}

body {
  @apply antialiased text-slate-900 bg-white;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-lustria), serif;
}

.home-hero-section h1 {
  font-size: 44px;
  line-height: 52px;
  font-weight: 400;
  max-width: 620px;
  margin: 0 auto;
  text-transform: capitalize;
  margin-bottom: 24px;
  color: #111011;
}

.home-hero-section p {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  color: #757575;
}

.bg-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  animation: bg-fade 0.5s ease ;
}
.bg-reveal{
  position: absolute;
  inset: 0;
  background: white;
  animation:  reveal 1.2s cubic-bezier(0.4, 0, 0.2, 1) 2s forwards;
  transform-origin: right;
}

@keyframes reveal {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}